:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

.selected {
  border: 2px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.div {
  height: 11rem;
  width: 8rem;
  border-radius: 6px;
  cursor: pointer;
  padding: 1rem;
  /* background: #f8f8f8; */
  position: relative;
}
.Border {
  border: 2px solid rgb(104, 78, 250);
  background-color: #f0f6ff;
}
